WSDL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.elma.dev/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.elma.dev/" name="BankServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.elma.dev/" schemaLocation="http://127.0.0.1:2001/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversionToDH">
<part name="parameters" element="tns:conversionToDH"/>
</message>
<message name="conversionToDHResponse">
<part name="parameters" element="tns:conversionToDHResponse"/>
</message>
<message name="createNewCompte">
<part name="parameters" element="tns:createNewCompte"/>
</message>
<message name="createNewCompteResponse">
<part name="parameters" element="tns:createNewCompteResponse"/>
</message>
<message name="AllComptes">
<part name="parameters" element="tns:AllComptes"/>
</message>
<message name="AllComptesResponse">
<part name="parameters" element="tns:AllComptesResponse"/>
</message>
<portType name="BankServices">
<operation name="conversionToDH">
<input wsam:Action="http://services.elma.dev/BankServices/conversionToDHRequest" message="tns:conversionToDH"/>
<output wsam:Action="http://services.elma.dev/BankServices/conversionToDHResponse" message="tns:conversionToDHResponse"/>
</operation>
<operation name="createNewCompte">
<input wsam:Action="http://services.elma.dev/BankServices/createNewCompteRequest" message="tns:createNewCompte"/>
<output wsam:Action="http://services.elma.dev/BankServices/createNewCompteResponse" message="tns:createNewCompteResponse"/>
</operation>
<operation name="AllComptes">
<input wsam:Action="http://services.elma.dev/BankServices/AllComptesRequest" message="tns:AllComptes"/>
<output wsam:Action="http://services.elma.dev/BankServices/AllComptesResponse" message="tns:AllComptesResponse"/>
</operation>
</portType>
<binding name="BankServicesPortBinding" type="tns:BankServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversionToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServices">
<port name="BankServicesPort" binding="tns:BankServicesPortBinding">
<soap:address location="http://127.0.0.1:2001/"/>
</port>
</service>
</definitions>